<launch>
  
<include file="$(find i2cpwm_board)/launch/i2cpwm_node.launch"/>
  
<include file="$(find raspicam_node)/launch/camerav2_410x308_30fps.launch">
<arg name="enable_raw" value="true"/>
</include>
  
<node pkg="donkey_llc" name="dk_llc" type="low_level_control.py" output="screen">
</node>

</launch>
